#text-field-container {
	display: grid;
	grid-template-rows: repeat(2, 1fr);
	grid-template-columns: repeat(2, 1fr);
	gap: 0.5em 0;
}

input {
	border: 0.15em solid rgb(119, 115, 222);
	background-color: rgb(183, 216, 233);
	font-family: "Ubuntu";
	padding: 0.5em;
}

input[type="text"], input[type="password"] {
	max-width: 20em;
}

input:focus {
	outline: none !important;
}

input[type="number"] {
	max-width: 2.6em;
}

input[type="date"] {
	max-width: 7.7em;
}

label {
	align-self: center;
	justify-self: end;
	margin-right: 4em;
	font-weight: bolder;
}

input[type="button"] {
	margin: 0.5em;
	font-family: "Ubuntu";
	font-size: 1em;
	font-weight: bold;
	background-color: rgb(171, 189, 220);
	border: 0.1em solid rgb(119, 115, 222);
}

input[type="button"]:active {
	background-color: white;
}

#message {
	height: 1em;
	margin-bottom: 2em;
}